---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&family=Nunito+Sans:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300');
@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300&display=swap');

$font-weight-normal: 300;
$font-weight-bold:   600;

$base-font-family: "Inter";
$base-font-size:   12pt;
$base-line-height: 1.5;
$monospace-font: 'Fira Code';

$heading-font-family: "Nunito Sans";
$heading-font-size:   12pt;
$heading-menu-font-size: 12pt;
$heading-line-height: 1.5;

$small-font-size:  0.875em;
$vsmall-font-size: 0.66em;
$spacing-unit:     1.5em;

$grey-vlight:#fefefe;
$grey-light: #ccc;
$grey:       #888;
$grey-dark:  #444;
$grey-vdark: #222;
$blue:       #0091ed;
$orange:     #ca6c18;
$red:        #b6321c;
$myblack:    #192832ea;
$exe:        #2d4555ea;
$purple:     #a759a7;
$slate:      #708090;

$background:        $grey-vlight;
$dark-background:   darken($background, 5%);
$text-color:        darken($grey-vlight, 50%);
$text-light-color:  $grey;
$url-color:         $purple;
$url-hover-color:   cornflowerblue;
$header-text-color: $text-light-color;
$header-hover-color:darken($text-color, 100%);
$header-hover-url:  $url-color;
$line-color:        $grey-light;

// Width of the content area
$content-width:    100em;
$content-min-width:25em;
$mobile:           32em;
$desktop:          100em;

@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}

// Import partials from `sass_dir` (defaults to `_sass`)
@import
    "header",
    "mobile-header",
    "base",
    "footer",
    "page",
    "syntax-highlighting",
    "fancy-image"
;
