.site-header {
    border-bottom: 1px solid $line-color;
    position: relative;
    font-family: $heading-font-family;
    font-size:   $heading-font-size;
    font-weight: $font-weight-bold;
    text-transform: lowercase;
    color: $header-text-color;
    @extend %clearfix;
}

.site-header a {
    color: $header-text-color;
    border-bottom: 0px;
    text-decoration: none;
}
.site-header a:hover {
    color: $header-hover-color;
    border-bottom: 0px;
    text-decoration: none;
}

.site-title {
    margin-top: 1em;
    margin-bottom: 1em;
    float: left;
    letter-spacing: 1px;
}

.site-nav {
    background: $background;
}

.site-nav ul {
    text-align: right;
    font-size:$heading-menu-font-size;
    float: right;
    letter-spacing: 1px;
    list-style-type: none;
}

.site-nav .menu > li {
    display: inline-block;
    margin: 1em 0 0 0.75em;
    padding: 0;
    //position: relative;
    vertical-align: middle;
}

.site-nav a {
    display: block;
}

// Sub Menu
.site-nav .sub-menu a {
    display: block;
    line-height: 1.2em;
    padding: 4px 10px;
    color: $header-text-color;
}

.site-nav .sub-menu a:hover {
    color: $header-hover-color;
}
.site-nav .sub-menu {
    border-color: $line-color;
    //min-width: 265px;
    z-index:2147483647;
}
.site-nav .sub-menu li.current-menu-item > a {
    border-left: none;
    border-right: none;
}

.sub-menu {
    position: absolute;
    right: -10px;
    left: auto;
    box-shadow: 0 10px 15px -3px rgba(46, 41, 51, 0.08),
    0 4px 6px -2px rgba(71, 63, 79, 0.16);
    z-index: 999;
    min-width: max-content;
    padding: 4px 0 3px 0;
    display: none;
    background-color: $grey-vlight;
    border-radius: 0 0 0.5rem 0.5rem; 
    //border: 1px solid $line-color;
}

.sub-menu li {
    border-bottom: 0;
    display: block;
    height: auto;
    margin: 3px 0;
    padding: 0;
    text-align: right;
}

.site-nav li:hover > .sub-menu {
    display: block;
}

.site-nav h1 {
    position: absolute;
    left: -999em;
}

.site-nav {
    float: right;

    .menu-icon {
        display: none;
    }

    .page-link {
        color: $header-text-color;

        // Gaps between nav items, but not on the first one
        &:not(:first-child) {
            margin-left: 20px;
        }
    }

    @include media-query($mobile) {
        position: absolute;
        top: 9px;
        right: 20px;
        border: 1px solid $line-color;
        border-radius: 5px;
        text-align: right;

        a.menu-icon::before {
            content: url("../images/menu-icon.png");
        }

        .menu-icon {
            display: block;
            float: right;
            width: 1.5em;
            height: 1.25em;
            line-height: 0;
            padding-top: 10px;
            text-align: center;
        }

        .trigger {
            clear: both;
            display: none;
        }

        &:hover .trigger {
            display: block;
            padding-bottom: 5px;
        }

        .page-link {
            display: block;
            padding: 5px 10px;
        }
    }
}
